<c-base title="Select Branch">
    <div class="p-4">
        <header class="bg-base-100 rounded-box p-4">
            <h1 class="text-xl font-semibold mb-2">{{ company.name }}</h1>
            
            {% if branches %}
            <p>Select a Branch</p>
            {% endif %}
        </header>
        
        <div class="flex flex-col gap-4 mt-4 md:flex-row justify-around">
            {% for branch in branches %}
            <a href="{% url 'branches:landing' branch.id %}">
                <div class="card bg-base-200 outline outline-1 outline-base-300 hover:outline-primary transition-all">
                    <div class="card-body relative">
                        <div class="card-title link">{{ branch.name }}</div>
                    </div>
                </div>
            </a>
            {% empty %}
            <p>No branches available. Contact your administrator.</p>
            {% endfor %}
        </div>
    </div>
</c-base>