{% load mytags %}

<c-layout>
	<div class="stats stats-vertical md:stats-horizontal w-full bg-base-100 shadow mb-4">
		<div class="stat">
			<div class="stat-title">Total Products</div>
			<div class="stat-value text-primary">{{ products.count }}</div>
			{% comment %}
			<div class="stat-desc">21% more than last month</div>
			{% endcomment %}
		</div>
        {% if request.user|has_perm:"products.add_product" %}
		<div class="stat">
			<div class="stat-title">Product Actions</div>
			<div class="mt-auto">
                <button type="button" class="btn btn-" onclick="edit_modal.showModal()">Add Product</button>
                <dialog id="edit_modal" class="modal">
                    <div class="modal-box max-h-10/12">
                        <form action="" method="post" class="grid sm:grid-cols-2 gap-4">
                            {% csrf_token %}
                            <fieldset class="fieldset">
                                <legend class="fieldset-legend">Name *</legend>
                                <input
                                    type="text"
                                    class="input w-full"
                                    name="name"
                                    required />
                            </fieldset>
                            <fieldset class="fieldset">
                                <legend class="fieldset-legend">Product Code</legend>
                                <input
                                    type="text"
                                    class="input w-full"
                                    value="{{ product.product_code }}" />
                            </fieldset>
                            <fieldset class="fieldset">
                                <legend class="fieldset-legend">Unit Price</legend>
                                <input
                                    type="number"
                                    class="input w-full"
                                    name="unit_price"
                                    />
                            </fieldset>
                            <fieldset class="fieldset bg-base-100 border-base-300 rounded-box border p-4 sm:col-span-2">
                                <legend class="fieldset-legend">Add to branches</legend>
                                <div class="grid sm:grid-cols-2 gap-y-2 gap-x-4">
                                    {% for branch in company_branches %}
                                    <label class="label">
                                        <input type="checkbox" value="{{ branch.pk }}" class="checkbox" name="branch_ids" />
                                        <span>{{ branch.name }}</span>
                                    </label>
                                    {% endfor %}
                                </div>
                            </fieldset>
                            
                            <div class="modal-action sm:col-span-2">
                                <!-- if there is a button in form, it will close the modal -->
                                <button class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                    <form method="dialog" class="modal-backdrop">
                        <button>close</button>
                    </form>
                </dialog>
            </div>
			{% comment %}
			<div class="stat-desc">21% more than last month</div>
			{% endcomment %}
		</div>
        {% endif %}
	</div>

	<div class="overflow-x-auto rounded-box bg-base-100">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Code</th>
					<th class="text-right">Unit Price</th>
                    {% if request.user|has_perm:"products.change_product" %}
					<th></th>
                    {% endif %}
				</tr>
			</thead>
			<tbody>
				{% for product in products %}
				<tr>
					<td>
                        <div class="font-bold">{{ product.name }}</div>
					</td>
					<td>
                        {% if product.product_code %}
						{{ product.product_code }}
                        {% endif %}
					</td>
					<td class="text-right">
						{{ product.unit_price }}
					</td>
                    {% if request.user|has_perm:"products.change_product" %}
					<td>
						<div class="flex justify-end">
							<button type="button" class="btn btn-ghost btn-xs" onclick="edit_modal_{{ product.pk }}.showModal()">Edit</button>
							<dialog id="edit_modal_{{ product.pk }}" class="modal">
								<div class="modal-box max-h-10/12">
									<form action="" method="post" class="grid sm:grid-cols-2 gap-4">
										{% csrf_token %}
                                        <input type="hidden" name="pk" value="{{ product.pk }}">
										<fieldset class="fieldset">
                                            <legend class="fieldset-legend">Name *</legend>
                                            <input
                                                type="text"
                                                class="input w-full"
                                                value="{{ product.name }}"
                                                name="name"
                                                required />
                                        </fieldset>
										<fieldset class="fieldset">
                                            <legend class="fieldset-legend">Product Code</legend>
                                            <input
                                                type="text"
                                                class="input w-full"
                                                {% if product.product_code %}
                                                value="{{ product.product_code }}"
                                                {% endif %}
                                                name="product_code" />
                                        </fieldset>
                                        <fieldset class="fieldset">
                                            <legend class="fieldset-legend">Unit Price</legend>
                                            <input
                                                type="number"
                                                class="input w-full"
                                                {% if product.unit_price %}value="{{ product.unit_price }}"{% endif %}
                                                name="unit_price"
                                                />
                                        </fieldset>
                                        <fieldset class="fieldset bg-base-100 border-base-300 rounded-box border p-4 sm:col-span-2">
                                            <legend class="fieldset-legend">Add to branches</legend>
                                            <div class="grid sm:grid-cols-2 gap-y-2 gap-x-4">
                                                {% for branch in company_branches %}
                                                <label class="label">
                                                    <input type="checkbox" value="{{ branch.pk }}" class="checkbox" name="branch_ids" {% if product.pk in branch.product_ids %}checked="checked"{% endif %} />
                                                    <span>{{ branch.name }}</span>
                                                </label>
                                                {% endfor %}
                                            </div>
                                        </fieldset>
                                        
										<div class="modal-action sm:col-span-2">
											<!-- if there is a button in form, it will close the modal -->
											<button class="btn btn-primary">Update</button>
										</div>
									</form>
								</div>
								<form method="dialog" class="modal-backdrop">
									<button>close</button>
								</form>
							</dialog>
						</div>
					</td>
                    {% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</c-layout>
