{% load mytags %}

<c-layout2>
	<div class="stats stats-vertical md:stats-horizontal w-full shadow bg-base-100 mb-4">
		<div class="stat">
			<div class="stat-title">Sales Today</div>
			<div class="stat-value text-primary">{{ sales.count }}</div>
			{% comment %} <div class="stat-desc">21% more than last month</div> {% endcomment %}
		</div>
        <div class="stat">
			<div class="stat-title uppercase font-semibold">{{ today|date }} Cash In</div>
			<div class="stat-value text-secondary">{{ day_total|add_commas }}</div>
			<div class="stat-desc font-semibold text-error">- {{ day_debt|add_commas }} balances</div>
			<div class="stat-figure">
				
			</div>
		</div>
        <div class="stat">
			<div class="stat-title uppercase font-semibold">This week Cash In</div>
			<div class="stat-value text-neutral">{{ week_total|add_commas }}</div>
			<div class="stat-desc font-semibold text-error">- {{ week_debt|add_commas }} balances</div>
			<div class="stat-figure">
				<span class="text-2xl font-bold">/=</span>
			</div>
		</div>
        <div class="stat">
			<div class="stat-title uppercase font-semibold">This month Cash In</div>
			<div class="stat-value text-neutral">{{ month_total|add_commas }}</div>
			<div class="stat-desc font-semibold text-error">- {{ month_debt|add_commas }} balances</div>
			<div class="stat-figure">
				<span class="text-2xl font-bold">/=</span>
			</div>
		</div>
	</div>

    <div class="action-bar p-2 bg-base-100 rounded-box mb-4 flex justify-between">
        <div></div>
        <div>
            <a class="btn btn-primary" title="Create a sale" href="{% url 'branches:sales_form' branch.pk %}">
                <span class="text-xl">&#43;</span>
                <span>Create a sale</span>
            </a>
        </div>
    </div>

	<div class="overflow-x-auto rounded-box bg-base-100">
		<table class="table">
			<thead>
				<tr>
					<th>Sale</th>
					<th class="text-center">Status</th>
					<th class="text-right">Amount Paid</th>
					<th class="text-right">Balance</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for sale in sales %}
				<tr>
					<td>
						<div class="flex items-center gap-3">
							<div>
								<div class="font-bold">{{ sale.date }}</div>
								{% if p.product.product_code %}
								<div class="text-sm opacity-50">{{ p.product.product_code }}</div>
								{% endif %}
							</div>
						</div>
					</td>
					<td class="text-center">
                        <span 
                            class="badge 
                            badge-sm 
                            uppercase
                            {% if sale.status == "PAID" %}
                            badge-success 
                            {% elif sale.status == "PARTIALLY_PAID" %}
                            badge-warning
                            {% elif sale.status == "CREDIT" %}
                            badge-alert
                            {% endif %}
                            "
                        >{{ sale.status }}</span>
                    </td>
					<td class="text-right">{{ sale.amount_paid|add_commas }}</td>
					<td class="text-right">{{ sale.balance|add_commas }}</td>
					<td class="flex justify-end">
						<a
							href="{% url 'branches:sales_form_update' branch.pk sale.pk %}"
							class="btn btn-neutral btn-xs"
							>View</a
						>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</c-layout2>
