{% load mytags %}

<c-layout2>
	<div class="stats stats-vertical md:stats-horizontal w-full shadow bg-base-100 mb-4">
		<div class="stat">
			<div class="stat-title">Sales Today</div>
			<div class="stat-value text-primary">{{ sales.count }}</div>
			{% comment %} <div class="stat-desc">21% more than last month</div> {% endcomment %}
		</div>
        <div class="stat">
			<div class="stat-title uppercase font-semibold">Cash In TODAY</div>
			<div class="stat-value text-secondary">{{ day_total|add_commas }}</div>
			<div class="stat-desc font-semibold text-error">- {{ day_debt|add_commas }} balances</div>
			<div class="stat-figure">
				
			</div>
		</div>
        <div class="stat">
			<div class="stat-title uppercase font-semibold">This week Cash In</div>
			<div class="stat-value text-neutral">{{ week_total|add_commas }}</div>
			<div class="stat-desc font-semibold text-error">- {{ week_debt|add_commas }} balances</div>
			<div class="stat-figure">
				<span class="text-2xl font-bold">/=</span>
			</div>
		</div>
        <div class="stat">
			<div class="stat-title uppercase font-semibold">This month Cash In</div>
			<div class="stat-value text-neutral">{{ month_total|add_commas }}</div>
			<div class="stat-desc font-semibold text-error">- {{ month_debt|add_commas }} balances</div>
			<div class="stat-figure">
				<span class="text-2xl font-bold">/=</span>
			</div>
		</div>
	</div>
    
    {% if request.user|has_perm:"sales.add_sale" %}
    <div class="action-bar p-0 overflow-hidden outline rounded-full mb-4 flex justify-between">
        <div></div>
        <div>
            <a class="btn btn-neutral" title="Create a sale" href="{% url 'branches:sales_form' branch.pk %}">
                <span>Create a sale</span>
                <i class='bx  bx-arrow-right-stroke'  ></i> 
            </a>
        </div>
    </div>
    {% endif %}

    <div x-data="{
        items_table: true
    }">
        <div role="tablist" class="tabs">
            <a role="tab" class="tab" :class="items_table ? 'tab-active' : ''" @click="items_table = true">Items</a>
            <a role="tab" class="tab" :class="!items_table ? 'tab-active' : ''" @click="items_table = false">Sales</a>
        </div>
        <div class="overflow-x-auto rounded-box bg-base-100">
            <table class="table" x-cloak x-show="items_table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th class="text-right">Amount</th>
                        {% if request.user|has_perm:"sales.analyze_profit" %}
                        <th class="text-right md:hidden">Profit</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for sale in sales %}
                    {% for item in sale.items.all %}
                    <tr>
                        <td>
                            <div class="flex items-center gap-3">
                                <div>
                                    <div class="font-bold">{{ item.product.product.name }}</div>
                                    {% if item.product.product.product_code %}
                                    <div class="text-sm opacity-50">{{ item.product.product.product_code }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        <td class="text-right hidden md:table-cell">{{ item.expected_income|add_commas }}</td>
                        {% if request.user|has_perm:"sales.analyze_profit" %}
                        <td class="text-right hidden md:table-cell">{{ item.expected_profit|add_commas }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
            <table class="table" x-cloak x-show="!items_table">
                <thead>
                    <tr>
                        <th>Sale</th>
                        <th class="text-center hidden md:table-cell">Status</th>
                        <th class="text-right hidden md:table-cell">Amount Paid</th>
                        <th class="text-right hidden md:table-cell">Balance</th>
                        <th class="text-right md:hidden">Amounts</th>
                        {% if request.user|has_perm:"sales.change_sale" %}
                        <th></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for sale in sales %}
                    <tr>
                        <td>
                            <div class="flex items-center gap-3">
                                <div>
                                    <div class="font-bold">{{ sale.date }}</div>
                                    {% if p.product.product_code %}
                                    <div class="text-sm opacity-50">{{ p.product.product_code }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="md:hidden">
                                <span 
                                    class="badge 
                                    badge-sm 
                                    uppercase
                                    {% if sale.status == "PAID" %}
                                    badge-success 
                                    {% elif sale.status == "PARTIALLY_PAID" %}
                                    badge-warning
                                    {% elif sale.status == "CREDIT" %}
                                    badge-alert
                                    {% endif %}
                                    "
                                >{{ sale.status }}</span>
                            </div>
                        </td>
                        <td class="text-center hidden md:table-cell">
                            <span 
                                class="badge 
                                badge-sm 
                                uppercase
                                {% if sale.status == "PAID" %}
                                badge-success 
                                {% elif sale.status == "PARTIALLY_PAID" %}
                                badge-warning
                                {% elif sale.status == "CREDIT" %}
                                badge-alert
                                {% endif %}
                                "
                            >{{ sale.status }}</span>
                        </td>
                        <td class="text-right hidden md:table-cell">{{ sale.amount_paid|add_commas }}</td>
                        <td class="text-right hidden md:table-cell">{{ sale.balance|add_commas }}</td>
                        <td class="text-right md:hidden font-semibold">
                            <div class="text-success">{{ sale.amount_paid|add_commas }}</div>
                            <div class="text-error">{{ sale.balance|add_commas }}</div>
                        </td>
                        {% if request.user|has_perm:"sales.change_sale" %}
                        <td class="flex justify-end">
                            <a
                                href="{% url 'branches:sales_form_update' branch.pk sale.pk %}"
                                class="btn btn-ghost btn-sm text-lg"
                                >
                                <i class='bx  bx-edit'  ></i> 
                                </a
                            >
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</c-layout2>
